%form{:method => "POST", :action => "/api/person"}
	%input{:type => "text", :name => "first_name", :placeholder => "First Name"}
	%input{:type => "text", :name => "last_name", :placeholder => "Last Name"}
	%input{:type => "text", :name => "appearance_arrest_date", :placeholder => "Appearance or Arrest Date"}
	%input{:type => "text", :name => "case_number", :placeholder => "Case #"}
	%input{:type => "text", :name => "charge_number", :placeholder => "Charge #"}
	%input{:type => "text", :name => "number_of_charges", :placeholder => "# of Charges"}
	%input{:type => "text", :name => "city", :placeholder => "City"}
	%input{:type => "text", :name => "state", :placeholder => "State"}
	%input{:type => "submit", :value => "Create"}